{% extends "base.html" %}

{% block content %}

<!-- ### Include Chart.js CDN ### -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<br>

<h4>Remote workers age groups</h4>

<div>
   <canvas id="age-groups"></canvas>
</div>

<!-- ### Age groups data (views.py) ### -->
<script id="age-groups-labels" type="application/json">{{labels|safe}}</script>
<script id="age-groups-data" type="application/json">{{data}}</script>

<!-- ### Age groups donut chart ### -->
<script>
   const labels = JSON.parse(document.getElementById('age-groups-labels').textContent);
   const data = JSON.parse(document.getElementById('age-groups-data').textContent);
   const age_groups = document.getElementById('age-groups');
   new Chart(age_groups, {
      type: 'doughnut',
      data: {
         labels: labels,
         datasets: [{
            label: 'Observations',
            data: data,
            borderWidth: 3
         }]
      }
   });
</script>

<br><br>

<h4>Workers by company size</h4>

{% endblock %}