<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>Homeoffice Monitor</title>
</head>

<body>

   <p>base-template</p>

   <nav>
      <ul>
         <li><a href="{% url 'home' %}">Home</a></li>
         <li><a href="{% url 'analysis' %}">Analysis</a></li>
         <li><a href="{% url 'employees' %}">Employees</a></li>
         <li><a href="{% url 'companies' %}">Companies</a></li>
      </ul>
   </nav>

   {% block content %}{% endblock %}

</body>

</html>