{% extends "base.html" %}

{% block content %}

# Welcome to Remote Work Charts! ✅

<br><img src="https://media.giphy.com/media/jbw127VLZdYtz61yjS/giphy.gif" width="400"><br><br>

## What is it about❓

More and more people are working from home. In many areas of work, this has led to happier employees, and more and more companies are now relying on this form of work and offering it, at least part-time. But few companies still have doubts and fear a negative impact on productivity.

I want to collect opinions on this and thus offer all interested parties an insight into the question:

### Are remote workers not only happier but also more productive? 🫡<br><br>

## What should be the outcome? 💡

An app that continuously collects and processes data from employees, examining the effect of remote work on satisfaction/productivity and any side effects.

## What will this help with? 🎯

- For employees: possibly confirm their arguments for working from home
- For Businesses: possibly eliminate their productivity concerns<br><br>

## Where does the data come from? 💾

- From my own observations (100 employee survey)
- Continuous data collection through a survey in the app<br><br>

## Which techniques are used? ⚙️

- Online survey (Google forms)
- Data preparation (Python/Pandas)
- SQL database (AWS)
- Backend (Python/Django)
- Frontend (HTML, CSS, JavaScript, Bootstrap)

## Project management? ✔️

- <a href="https://github.com/users/Senimtra/projects/3" target="_blank">GitHub Projects</a>

{% endblock %}
