{% extends "base.html" %}

{% block content %}

<div class="container container-home">
   <div class="row">

      <div class="col-home col-12 col-lg-6 d-flex flex-column">
         <div class="card card-home greeting">
            <h2>Welcome to Remote Work Charts! ✅</h2>
         </div>
         <div class="card card-home home-about flex-fill">
            <h4>What is it about❓</h4>
            <p>In many areas of work, this has led to happier employees,
               and more and more companies are now relying on this form of work and offering it, at least part-time.</p>
            <p>
               I would like to collect opinions on this and thus offer all interested parties an insight into whether
               remote workers are happier and more productive.
            </p>
         </div>
      </div>

      <div class="col-home col-12 col-lg-6">
         <div class="card card-home home-image">
            <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe
                  src="https://giphy.com/embed/jbw127VLZdYtz61yjS" width="100%" height="100%" style="position:absolute"
                  frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
         </div>
      </div>

      <div class="col-home col-12">
         <div class="card card-home outcome">
            <h4>What should be the outcome? 💡</h4>
            <p>An app that continuously collects and processes data from employees, examining the effect of remote work
               on
               satisfaction/productivity.</p>
         </div>
      </div>

      <div class="col-home col-12 col-lg-6">
         <div class="card card-home">
            <h4>What will this help with? 🎯</h4>
            <ul>
               <li>For employees: possibly confirm their arguments for working from home</li>
               <li>For Businesses: possibly eliminate their productivity concerns</li>
            </ul>
         </div>
      </div>

      <div class="col-home col-12 col-lg-6 d-flex flex-column">
         <div class="card card-home flex-fill">
            <h4>Where does the data come from? 💾</h4>
            <ul>
               <li>From my own observations (100 employee survey)</li>
               <li>Continuous data collection through a survey in the app</li>
            </ul>
         </div>
      </div>

      <div class="col-home col-12 col-lg-6">
         <div class="card card-home">
            <h4>Which techniques are used? ⚙️</h4>
            <ul>
               <li>Online survey (Google forms)</li>
               <li>Data preparation (Python/Pandas)</li>
               <li>SQL database (AWS)</li>
               <li>Backend (Python/Django)</li>
               <li>Frontend (HTML, CSS, JavaScript, Bootstrap)</li>
            </ul>
         </div>
      </div>

      <div class="col-home col-12 col-lg-6 d-flex flex-column">
         <div class="card card-home flex-fill">
            <h4>Project management? ✔️</h4>
            <p><a href="https://github.com/users/Senimtra/projects/3" target="_blank">GitHub Projects</a></p>
         </div>
      </div>

   </div>
</div>

{% endblock %}